.register-btn{
    margin-top: 50px;      /* move button down */
    padding: 13px 70px;    /* make button big */
    font-size: 20px;       /* big text */
    font-weight: bold;     /* bold letters */
    background-color:navy ;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.register-btn:hover{
    background-color: darkgreen;
}


  /* ===== Login Page Design ===== */

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #9face6);
}

/* center login box */
.login-container{
    width: 370px;
    height: 350px;
    margin: 150px auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    text-align: center;
   
}

/* heading */
.login-container h1{
    margin-bottom: 20px;
    color: black;
}

/* input fields */
.login-container input{
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 12px;
    margin-top: 12px;
}

/* button */
.login-container button{
    width: 95%;
    padding: 12px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
  
}

.login-container button:hover{
    background-color: darkgreen;
}

/* register text */
.login-container p{
    margin-top: 20px;
    font-size: 14px;
}

.login-container a{
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

.login-container a:hover{
    text-decoration: underline;
}

.login-container button{
    margin-top: 20px;   /* move button down */
}



